:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}

@media (min-width: 1250px) { 
  .navbar{
    height: 70px;
  }
}

.link{
  margin-left: 5px;
}

.home {
  margin-top: 4.3rem;
}

.header{
  background-image: url("./img/header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 50px; 
  position: relative;  
}
.header:before{
  content: '';
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.header h3,p{
  color: #ffffff;
  position: relative;
}

.container{
  margin-top: 5px;
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: .5rem;
  padding: 1.5rem;
  margin-bottom: 3rem;
}


.titulo{
  text-align: start;
  font-weight: 500;
  
}

.ingre{
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 100;
  color: #000;

}

.ingred {
  font-weight: 400;
}

.precio{
  font-size: 1.2rem;
  font-weight: 700;
}
.footer{
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  padding: 10px;
  margin:auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.form {
  padding: 2.5rem;
  padding-bottom: 3rem;
  text-align: center;
  margin: 30px 5rem 50px 5rem;
}

@media (min-width: 1250px) { 
  .form{
    margin-left: 20rem;
    margin-right: 20rem;
  }
}

.label{
  margin-bottom: 10px;
}

.DetalleCarrito {
  margin-top: 5rem;
  margin-bottom: 5rem;

}

.itemPizza{
  margin-left: 50px;
  margin-right: 50px ;
  padding: .5rem;
}

.pagar{
  margin-top: 2.5rem;
}

.contenedor-pizza{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.contendor-card{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.card-text{
  color: #000;
}
